.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* text primary */
.text-primary{
    color: #FD6E0A;
}


.dark-2{
    color: #474747;
}
/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 51px 230px;
}
/* header  */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* shared style  */
/* button  */
.second-bg{
    background-color: #FFF8F3;
}
.btn-2{
    background-color: #FFF8F3;
    border: 2px solid #FD6E0A;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;

}

.btn-primary{
    background-color:#FD6E0A ;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px  35px 19px 36px;
    border-radius: 10px;
    border: 0px solid #FD6E0A;
}


nav li{
    list-style: none;
    margin-right: 51px;

}

nav ul{
    display:flex ;
    align-items: center;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    
}

/* banner section */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
}
.banner-content{
    max-width: 585px;
}

.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 0;
    margin-top: 5px;
}

.banner-greetings{
    font-weight: 600;
    font-size: 45px;
    color:  #474747;
    margin-bottom: 0;
}

.banner-description{
    font-weight: 300;
    font-size: 18px;
    color: #757575;
}

.banner-profile-pic{
    width: 584px;

}

.section-title{
    font-size: 35px;
    font-weight: bold;
}

.section-description{
    font-weight: 300;
    font-size: 18px;
    color: #757575;
}
/* main stle  */
main{
    max-width: 1140px;
    margin: 0 auto;
}


/* about style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.about-items{
    display:flex ;
    justify-content: space-around;
    
}

.item-description{
    font-weight: bold;
    
}